.cell {
    width: $cell-size;
    height: $cell-size;
    background-color: #fff;
    border: 2px solid $primary-color;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
  
    &.taken {
      pointer-events: none;
    }
  }