.sub-board {
    display: grid;
    grid-template-columns: repeat(3, $cell-size);
    grid-template-rows: repeat(3, $cell-size);
    gap: $sub-board-gap;
    background-color: #f9f9f9;
    border: 3px solid $primary-color;
    position: relative;
  
    &.active {
      border-color: $secondary-color;
      box-shadow: 0 0 10px $secondary-color;
    }
  
    &.taken {
      pointer-events: none;
      background-color: #ddd;
    }
  }